<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944656838741-9p2bkvkhaeqimq52v42f22h9tj2hl9fu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831142391997-jufiormfbp5mnoh8pflmpvnpnenjptvl</string>
	<key>API_KEY</key>
	<string>AIzaSyB1IGRnXxffpX6IV3IcPb8-2GJ2Kalbwxo</string>
	<key>GCM_SENDER_ID</key>
	<string>944656838741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.allskills.app.ios</string>
	<key>PROJECT_ID</key>
	<string>allskills-2-0</string>
	<key>STORAGE_BUCKET</key>
	<string>allskills-2-0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944656838741:ios:0ebdc6e42dab9a4437a4dc</string>
</dict>
</plist>
